<div class="container text-center col-sm-10 col-sm-offset-1">
  <h4>6号下午5点航天幼儿园求帮忙接孩子放学</h4>
  <p>
    时间：2017/12/6 17:00
  </p>
  <p>
    地点：航天幼儿园（科学路64号）
  </p>
  <p>
    具体要求：5点准时到，到了直接联系孩子的老师。孩子比较胆小，所以希望能送到家门口，交给他奶奶。
  </p>
  <p class="bg-yellow">
    报酬：5个时间币
  </p>
</div>
<div class="box-footer col-sm-10 col-sm-offset-1" style="background: none">
  <button class="btn btn-default" (click)="goBack()">返回</button>
  <button class="btn btn-primary pull-right" (click)="takePlan()">接下任务</button>
</div>

