<div class="box">
  <div class="box-header with-border">
    <button class="btn btn-success btn-sm" [routerLink]="'new'">新建任务</button>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tr>
        <td>
          <a [routerLink]="1">6号下午5点航天幼儿园求帮忙接孩子放学</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="javascript:;">18号上午9点中科院小区求帮忙搬家</a>
        </td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="javascript:;">&laquo;</a></li>
      <li><a href="javascript:;">1</a></li>
      <li><a href="javascript:;">&raquo;</a></li>
    </ul>
  </div>
</div>
<!-- /.box -->
