<div class="box">
  <div class="box-header with-border">
    <button class="btn btn-success btn-sm" [routerLink]="'new'">新建任务</button>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tr *ngFor="let plan of curPlans">
        <td>
          <a [routerLink]="plan.id">{{plan.name}}</a>
        </td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="javascript:;" (click)="lastPage()">&laquo;</a></li>
      <li *ngFor="let page of pages">
        <a href="javascript:;" (click)="goToPage(page)">{{page}}</a>
      </li>
      <li><a href="javascript:;" (click)="nextPage()">&raquo;</a></li>
    </ul>
  </div>
</div>
<!-- /.box -->
