<form class="form-horizontal" [formGroup]="planFormGroup">
  <div class="box-body">
    <div class="form-group">
      <label for="inputContent1" class="col-sm-2 control-label">任务类型</label>

      <div class="col-sm-10" id="inputContent1">
        <span class="col-sm-5 block-type" (click)="selectType('带饭', 0)">带饭</span>
        <span class="col-sm-5 block-type" (click)="selectType('取快递', 1)">取快递</span>
        <span class="col-sm-5 block-type" (click)="selectType('发快递', 2)">发快递</span>
        <span class="col-sm-5 block-type" (click)="selectType('打热水', 3)">打热水</span>
      </div>
    </div>

    <div class="form-group">
      <label for="inputContent2" class="col-sm-2 control-label">任务类型</label>

      <div class="col-sm-10" id="inputContent2">
        <span class="col-sm-5 block-place" (click)="selectPlace('学15', 0)">学15</span>
        <span class="col-sm-5 block-place" (click)="selectPlace('学14', 1)">学14</span>
      </div>
    </div>

    <div class="form-group">
      <label for="inputContent3" class="col-sm-2 control-label">任务酬劳</label>

      <div class="col-sm-10">
        <input class="form-control" id="inputContent3" type="number" step="1" formControlName="salary" placeholder="需大于0" />
      </div>
    </div>

    <div class="form-group">
      <label for="inputContent4" class="col-sm-2 control-label">任务时间</label>

      <div class="col-sm-10">
        <input class="form-control" id="inputContent4" type="datetime-local" formControlName="time" />
      </div>
    </div>
  </div>
  <!-- /.box-body -->
  <div class="box-footer" style="background: none">
    <button type="submit" class="btn btn-default col-sm-offset-1" (click)="cancel()">取消</button>
    <button type="submit" class="btn btn-info pull-right" (click)="save()">发布</button>
  </div>
  <!-- /.box-footer -->
</form>
