<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      社区
      <small>Community</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="javascript:;"><i class="fa fa-dashboard"></i> 位置</a></li>
      <li class="active">社区</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">

    <!--------------------------
      | Your Page Content Here |
      -------------------------->
    <router-outlet></router-outlet>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
